<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.manager.AreaMapper">
    <resultMap id="list" type="AreaListVo">
        <id property="id" column="province_id"/>
        <result property="name" column="province_name"/>
        <collection property="areaList" ofType="areaListVO">
            <id property="id" column="city_id"/>
            <result property="name" column="city_name"/>
            <collection property="areaList" ofType="areaListVOs">
                <id property="id" column="county_id"/>
                <result property="name" column="county_name"/>
            </collection>
        </collection>
    </resultMap>
    <select id="select" resultMap="list">
        SELECT county.id county_id ,
               county.`name` county_name,
               city.id city_id ,
               city.`name` city_name,
               province.id province_id,
               province.`name`  province_name
        FROM area  county
        LEFT JOIN area city
        ON county.parent_id=city.id
        LEFT JOIN area province
        ON city.parent_id=province.id

    </select>
</mapper>