<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.manager.DrivingStudentManagerMapper">

    <resultMap id="DrivingStudentListVoResult" type="com.mashang.mashangdriving.domain.vo.manager.DrivingStudentListVo">
        <result column="student_id" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="user_id" property="userId" />
        <result column="driver_license_id" property="driverLicenseId" />
        <result column="phone" property="phone" />
        <result column="emergency_phone" property="emergencyPhone" />
        <result column="status" property="status" />
        <result column="id_number" property="idNumber" />
        <result column="id_number_front" property="idNumberFront" />
        <result column="id_number_back" property="idNumberBack" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <association property="drivingDriverLicenseType" javaType="com.mashang.mashangdriving.domain.entity.DrivingDriverLicenseType">
            <id column="driver_license_id" property="driverLicenseId" />
            <result column="driver_license_code" property="driverLicenseCode"/>
        </association>
        <association property="drivingCourseRecord" javaType="com.mashang.mashangdriving.domain.entity.DrivingCourseRecord">
            <result column="record_id" property="recordId" />
            <result column="student_id" property="studentId" />
<!--            <result column="course_id" property="courseId" />-->
            <result column="finished_hours" property="finishedHours" />
            <result column="status" property="status" />
        </association>
        <association property="drivingInstructorStudent" javaType="com.mashang.mashangdriving.domain.entity.DrivingInstructorStudent">
            <result column="instructor_id" property="instructorId" />
            <result column="student_id" property="studentId" />
        </association>
        <association property="drivingInstructor" javaType="com.mashang.mashangdriving.domain.entity.DrivingInstructor" autoMapping="false">
            <result column="instructor_name" property="instructorName" />
            <result column="score" property="score"/>
        </association>
        <association property="drivingSubject" javaType="com.mashang.mashangdriving.domain.entity.DrivingSubject">
            <result column="subject_name" property="subjectName"/>
        </association>
    </resultMap>

    <resultMap id="DrivingStudentListVo1Result" type="com.mashang.mashangdriving.domain.vo.manager.DrivingStudentListVo1">
        <!-- 基础字段映射 -->
        <id property="studentId" column="student_id" />
        <result property="studentName" column="student_name" />
        <result property="userId" column="user_id" />
        <result property="driverLicenseId" column="driver_license_id" />
        <result property="driverLicenseCode" column="driver_license_code" />
        <result property="driverLicenseName" column="driver_license_name" />
        <result property="phone" column="phone" />
        <result property="emergencyPhone" column="emergency_phone" />
        <result property="status" column="status" />
        <result property="idNumber" column="id_number" />
        <result property="idNumberFront" column="id_number_front" />
        <result property="idNumberBack" column="id_number_back" />
        <result property="delFlag" column="del_flag" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="subjectId" column="subject_id" />
        <result property="subjectName" column="subject_name" />
        <result property="finishedHours" column="finished_hours" />
        <result property="studyStatus" column="study_status" />

        <!-- 教练相关字段映射 -->
        <result property="instructorId" column="instructor_id" />
        <result property="instructorName" column="instructor_name" />
        <result property="instructorPhone" column="instructor_phone" />
        <result property="score" column="score" />
        <result property="instructorIdNumber" column="instructor_id_number" />

    </resultMap>

    <select id="selectOneStudent" resultMap="DrivingStudentListVo1Result">
        SELECT DISTINCT
        ds.student_id,
        ds.student_name,
        ds.user_id,
        ds.driver_license_id,
        ddlt.driver_license_code,
        ddlt.driver_license_name,
        ds.phone,
        ds.emergency_phone,
        (SELECT status
        FROM ms_stu_pro339.driving_student
        WHERE student_id = ds.student_id
        ORDER BY create_time DESC LIMIT 1) as status,
        ds.id_number,
        ds.id_number_front,
        ds.id_number_back,
        ds.del_flag,
        ds.create_time,
        ds.update_time,
        dsj.subject_id,
        dsj.subject_name,
        (SELECT SUM(finished_hours)
        FROM ms_stu_pro339.driving_course_record
        WHERE student_id = ds.student_id) as
        finished_hours,
        dcr.status as study_status,
        di.instructor_id,
        di.instructor_name,
        di.phone as instructor_phone,
        di.score,
        di.id_number as instructor_id_number
        FROM ms_stu_pro339.driving_student ds
        LEFT JOIN ms_stu_pro339.driving_driver_license_type ddlt
        ON ds.driver_license_id = ddlt.driver_license_id
        LEFT JOIN ms_stu_pro339.driving_course_record dcr
        ON dcr.student_id = ds.student_id
        LEFT JOIN ms_stu_pro339.driving_instructor_student dis
        ON dis.student_id = ds.student_id
        LEFT JOIN ms_stu_pro339.driving_subject dsj
        ON dis.subject_id = dsj.subject_id
        LEFT JOIN ms_stu_pro339.driving_instructor di
        ON dis.instructor_id = di.instructor_id
        <where>
            ds.del_flag = '0'
        <if test="drivingStudentQuery.keyword!=null and drivingStudentQuery.keyword!=''">
                AND (
                ds.phone = #{drivingStudentQuery.keyword}
                OR ds.id_number = #{drivingStudentQuery.keyword}
                OR ds.student_name LIKE CONCAT('%', #{drivingStudentQuery.keyword}, '%')
                )

        </if>
            <if test="drivingStudentQuery.status != null and drivingStudentQuery.status != '' ">
                AND ds.status = #{drivingStudentQuery.status}
            </if>
            <if test="drivingStudentQuery.subjectId != null and drivingStudentQuery.subjectId != '' ">
                AND dis.subject_id = #{drivingStudentQuery.subjectId}
            </if>
        </where>
        ORDER BY ds.student_id ASC
    </select>

    <select id="getList" resultMap="DrivingStudentListVoResult">
        SELECT ds.student_id, student_name, ds.user_id, ds.driver_license_id,
               ds.phone, emergency_phone, ds.status, ds.id_number, id_number_front, id_number_back,
                ds.create_time, avatar, student_code, ds.update_time,ddlt.driver_license_code,
                dcr.finished_hours,dcr.status,di.instructor_name,di.score,dsj.subject_name
            FROM ms_stu_pro339.driving_student ds
        LEFT JOIN ms_stu_pro339.driving_driver_license_type ddlt ON ds.driver_license_id = ddlt.driver_license_id
            LEFT JOIN ms_stu_pro339.driving_course_record dcr ON dcr.student_id = ds.student_id
            LEFT JOIN ms_stu_pro339.driving_instructor_student dis ON dis.student_id = ds.student_id
                LEFT JOIN ms_stu_pro339.driving_subject dsj ON dis.subject_id = dsj.subject_id
            LEFT JOIN ms_stu_pro339.driving_instructor di ON dis.instructor_id = di.instructor_id
        WHERE ds.del_flag = '0'
        ORDER BY student_id ASC
    </select>
<!--    <select id="selectOneStudent" resultMap="DrivingStudentListVoResult">-->
<!--        SELECT ds.student_id, ds.student_name, ds.user_id, ds.driver_license_id,-->
<!--        ds.phone, emergency_phone, ds.status, ds.id_number, id_number_front, id_number_back,-->
<!--        ds.create_time, avatar, student_code,ddlt.driver_license_code,-->
<!--        dcr.finished_hours,dcr.status,di.instructor_name,di.score,dsj.subject_name-->
<!--        FROM ms_stu_pro339.driving_student ds-->
<!--        LEFT JOIN ms_stu_pro339.driving_driver_license_type ddlt ON ds.driver_license_id = ddlt.driver_license_id-->
<!--        LEFT JOIN ms_stu_pro339.driving_course_record dcr ON dcr.record_id = ds.student_id-->
<!--        LEFT JOIN ms_stu_pro339.driving_instructor_student dis ON dis.student_id = ds.student_id-->
<!--        LEFT JOIN ms_stu_pro339.driving_subject dsj ON dis.subject_id = dsj.subject_id-->
<!--        LEFT JOIN ms_stu_pro339.driving_instructor di ON dis.instructor_id = di.instructor_id-->
<!--                <where>-->
<!--                     ds.del_flag = '0'-->


<!--                    </if>-->
<!--                </where>-->
<!--        ORDER BY student_id ASC-->
<!--    </select>-->
</mapper>