<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.manager.DrivingCourseMapper">
    <resultMap id="list" type="drivingCourseDtlVo">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="personCount" column="person_count"/>
        <result property="type" column="type"/>
        <result property="allHours" column="all_hours"/>
        <collection property="chapterDtlVos" ofType="drivingChapterDtlVo">
            <id property="chapterId" column="chapter_id"/>
            <result property="chapterName" column="chapter_name"/>
            <collection property="drivingSectionDtlVos" ofType="drivingSectionDtlVo">
                <id property="sectionId" column="section_id"/>
                <result property="chapterId" column="chapter_id"/>
                <result property="sectionName" column="section_name"/>
                <result property="sectionExplain" column="section_explain"/>
                <result property="picture" column="picture"/>
                <result property="pictureExplain" column="picture_explain"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectByCourseId" resultMap="list">
        SELECT course.course_id, course.course_name,course.type, course.all_hours,course.person_count,
               chapter.chapter_id,chapter.chapter_name,
               section.section_id,section.section_name,section.section_explain,section.picture,section.picture_explain
        FROM driving_course course
                 LEFT JOIN driving_chapter chapter
                           ON course.course_id=chapter.course_id and chapter.del_flag=0
                 LEFT JOIN driving_section section
        ON chapter.chapter_id=section.chapter_id and section.del_flag=0
        WHERE course.course_id=#{courseId} and course.del_flag=0
        order by course.course_id ,chapter.chapter_id,section.section_id
    </select>


    <resultMap id="courseListVo" type="drivingCourseListVo">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="type" column="type"/>
        <result property="allHours" column="all_hours"/>
        <result property="status" column="status"/>
        <collection property="drivingLearningMaterialsVos" ofType="drivingLearningMaterialsVo">
            <id property="materialsId" column="lable_id"/>
            <result property="materialsName" column="lable_name"/>
        </collection>
    </resultMap>
    <select id="query" resultMap="courseListVo">
        SELECT c.course_id,c.course_name ,c.type,c.all_hours,c.`status`,
               l.lable_id,l.lable_name
        FROM driving_course c
                 LEFT JOIN driving_lable l
                           ON c.course_id=l.course_id
        <!-- ${ew.customSqlSegment}这个是固定写法一定要加，不然条件就无效了 -->
        ${ew.customSqlSegment}
    </select>



</mapper>