<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.manager.DrivingBillRecordMapper">
    <resultMap id="DrivingBillRecordListVo" type="com.mashang.mashangdriving.domain.vo.manager.DrivingBillRecordListVo">
        <id property="recordId" column="record_id"/>
        <result property="userName" column="student_name"/>
        <result property="chargeItem" column="charge_ltem_name"/>
        <result property="amount" column="amount"/>
        <result property="roleName" column="role_name"/>
        <result property="paymentMethod" column="pay_type"/>
        <result property="paymentTime" column="create_time"/>
    </resultMap>

    <select id="queryBillRecord" resultMap="DrivingBillRecordListVo">
        SELECT  r.record_id,
                driving_student.student_name,
                l.charge_ltem_name,
                role.role_name,
                l.amount ,
                pay.pay_type,
                r.create_time
        FROM `driving_bill_record` r
                 LEFT JOIN driving_charge_ltem l ON r.charge_ltem_id=l.charge_ltem_id
                 LEFT JOIN sys_role role ON r.role_id=role.role_id
                 LEFT JOIN driving_pay pay ON pay.pay_id=r.pay_id
                 LEFT JOIN driving_student ON r.user_id=driving_student.user_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryAnnualTotalIncome" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillYearMessageVo">
        SELECT IFNULL(SUM(c.amount), 0) annual_total_income
        FROM driving_charge_ltem c
                 LEFT JOIN driving_bill_record b ON c.charge_ltem_id=b.charge_ltem_id
                 LEFT JOIN driving_pay p ON p.pay_id=b.pay_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryAnnualTotalExpenditure" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillYearMessageVo">
        SELECT IFNULL(SUM(c.amount), 0) annual_total_expenditure
        FROM driving_charge_ltem c
                 LEFT JOIN driving_bill_record b ON c.charge_ltem_id=b.charge_ltem_id
                 LEFT JOIN driving_pay p ON p.pay_id=b.pay_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryAllStudentCount" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillYearMessageVo">
        SELECT IFNULL(COUNT(*), 0) total_students
        FROM driving_student s
            ${ew.customSqlSegment}
    </select>

    <select id="queryMonthTotalIncome" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillMonthMessageVo">
        SELECT IFNULL(SUM(c.amount), 0) total_income
        FROM driving_charge_ltem c
                 LEFT JOIN driving_bill_record b ON c.charge_ltem_id=b.charge_ltem_id
                 LEFT JOIN driving_pay p ON p.pay_id=b.pay_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryMonthTotalExpenditure" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillMonthMessageVo">
        SELECT IFNULL(SUM(c.amount), 0) total_expense
        FROM driving_charge_ltem c
                 LEFT JOIN driving_bill_record b ON c.charge_ltem_id=b.charge_ltem_id
                 LEFT JOIN driving_pay p ON p.pay_id=b.pay_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryStudentTotalIncome" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillMonthMessageVo">
        SELECT IFNULL(SUM(c.amount), 0) studentPayment
        FROM driving_charge_ltem c
                 LEFT JOIN driving_bill_record b ON c.charge_ltem_id=b.charge_ltem_id
                 LEFT JOIN driving_pay p ON p.pay_id=b.pay_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryNotStudentTotalIncome" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingBillMonthMessageVo">
        SELECT IFNULL(SUM(c.amount), 0) otherIncome
        FROM driving_charge_ltem c
                 LEFT JOIN driving_bill_record b ON c.charge_ltem_id=b.charge_ltem_id
                 LEFT JOIN driving_pay p ON p.pay_id=b.pay_id
            ${ew.customSqlSegment}
    </select>

    <select id="queryIncomeByYearGroupByMonth" resultType="com.mashang.mashangdriving.domain.vo.manager.DrivingGroupMonthVo">
        SELECT
            DATE_FORMAT(b.create_time, '%Y-%m') AS month,
            IFNULL(SUM(c.amount), 0) AS monthIncome
        FROM driving_charge_ltem c
            LEFT JOIN driving_bill_record b ON c.charge_ltem_id = b.charge_ltem_id
            LEFT JOIN driving_pay p ON p.pay_id = b.pay_id
            ${ew.customSqlSegment}
        GROUP BY DATE_FORMAT(b.create_time, '%Y-%m')
        ORDER BY month ASC
    </select>

    <select id="finishedStudent" resultType="java.lang.Long">
        SELECT IFNULL(COUNT(*), 0) total_students
        FROM driving_student s
            ${ew.customSqlSegment}
    </select>

    <select id="selectRoleId" resultType="java.lang.Long">
        SELECT DISTINCT sys_role.role_id
        FROM sys_role
                 JOIN driving_bill_record r ON r.role_id=sys_role.role_id
        WHERE r.user_id=1001
    </select>
</mapper>