<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.manager.AppointmentMapper">

    <select id="appointmento" resultType="StudentAppointmentVo">

        SELECT
            tor.instructor_name,
            tor.teaching_years,
            tor.photo,
            tor.good_subject,
            tor.score,
            car.car_id,
            car.car_name,
            car.`status`,
            car.plate_number,
            car.car_color
        FROM
            driving_instructor AS tor
                LEFT JOIN driving_car AS car ON tor.instructor_id = car.instructor_id
        WHERE
            tor.`status` = '0'
          AND car.`status` = '0'
            LIMIT 1;
    </select>

    <select id="cancelApproval" resultType="long">
        SELECT COUNT(*) FROM driving_appointment apo
        WHERE apo.del_flag = '2'
    </select>

    <select id="page" resultType="ManagerAppointmentListVo">
        SELECT
            app.appointment_id,
            app.start_time,
            app.end_time,
            app.`status`,
            stu.student_name,
            stu.student_id,
            stu.phone,
            stu.create_time,
            ins.instructor_id,
            ins.instructor_name,
            car.car_id,
            car.car_name,
            car.plate_number,
            loc.location_id,
            loc.location_name,
            sub.subject_id,
            sub.subject_name,
            sub.tag
        FROM
            driving_appointment AS app
                LEFT JOIN
            driving_student AS stu
            ON
                app.student_id = stu.student_id
                LEFT JOIN
            driving_instructor AS ins
            ON
                app.instructor_id = ins.instructor_id
                LEFT JOIN
            driving_car AS car
            ON
                car.instructor_id = ins.instructor_id
                LEFT JOIN
            driving_location AS loc
            ON
                app.appointment_id = loc.location_id
                LEFT JOIN
            driving_subject AS sub
            ON
                sub.subject_id = app.subject_id
            ${ew.customSqlSegment}
    </select>

    <select id="appointmentDtl" resultType="ManagerAppointmentListVo">
        SELECT
            app.appointment_id,
            app.start_time,
            app.end_time,
            app.`status`,
            stu.student_name,
            stu.student_id,
            stu.phone,
            stu.create_time,
            ins.instructor_id,
            ins.instructor_name,
            car.car_id,
            car.car_name,
            car.plate_number,
            loc.location_id,
            loc.location_name,
            sub.subject_id,
            sub.subject_name,
            sub.tag
        FROM
            driving_appointment AS app
                LEFT JOIN
            driving_student AS stu
            ON
                app.student_id = stu.student_id
                LEFT JOIN
            driving_instructor AS ins
            ON
                app.instructor_id = ins.instructor_id
                LEFT JOIN
            driving_car AS car
            ON
                car.instructor_id = ins.instructor_id
                LEFT JOIN
            driving_location AS loc
            ON
                app.appointment_id = loc.location_id
                LEFT JOIN
            driving_subject AS sub
            ON
                sub.subject_id = app.subject_id
        where app.appointment_id = #{appointmentId}
    </select>

    <select id="countByTimeRange" resultType="int">
        SELECT COUNT(*)
        FROM driving_appointment
        WHERE del_flag = '0'
        AND status = 'APPROVED'
        AND start_time &lt; #{endTime}
        AND end_time &gt; #{startTime}
    </select>
</mapper>