<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.student.MyInstructorMapper">

    <resultMap id="MyInstructorVo1" type="com.mashang.mashangdriving.domain.vo.student.MyInstructorVo">
        <id column="instructor_id" property="instructorId" />
        <result column="student_id" property="studentId"/>
        <result column="instructor_name" property="instructorName" />
        <result column="phone" property="phone" />
        <result column="instructor_no" property="instructorNo" />
        <result column="status" property="status" />
        <result column="teaching_years" property="teachingYears" />
        <result column="good_subject" property="goodSubject" />
        <result column="score" property="score" />
        <result column="car_id" property="carId" />
        <result column="plate_number" property="plateNumber" />
        <result column="student_num" property="studentNum"/>
    </resultMap>

    <select id="selectMyInstructorById" resultMap="MyInstructorVo1">
        SELECT di.instructor_id, di.instructor_name, di.phone,  di.instructor_no,
               di.status, di.teaching_years,di.good_subject,
               COALESCE(
                       (SELECT ROUND(AVG(score),1)
                        FROM ms_stu_pro339.driving_rating dr
                        WHERE di.instructor_id=dr.instructor_id),
                       0
               ) AS score,
               dis.instructor_id,
               dis.student_id,
               ds.student_id,
               dc.car_id,
               dc.plate_number,
               (SELECT COUNT(*) FROM ms_stu_pro339.driving_instructor_student dis2
                                WHERE di.instructor_id=dis2.instructor_id) AS student_num
            FROM ms_stu_pro339.driving_instructor di
        INNER JOIN ms_stu_pro339.driving_instructor_student dis ON dis.instructor_id = di.instructor_id
        INNER JOIN ms_stu_pro339.driving_student ds ON dis.student_id = ds.student_id
        LEFT JOIN ms_stu_pro339.driving_car dc ON dc.instructor_id = di.instructor_id
        WHERE dis.student_id = #{studentId}
        LIMIT 1
    </select>

    <select id="findWeeklyScheduleByStudentId" resultType="java.util.Map">
        SELECT  week_day, time_slot, status
        FROM ms_stu_pro339.coach_weekly_schedule cws
        WHERE cws.instructor_id=(SELECT instructor_id FROM ms_stu_pro339.driving_instructor_student
                                                      WHERE student_id=#{studentId} LIMIT 1)
        ORDER BY week_day, time_slot
    </select>

</mapper>