<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.student.StudentMapper">

    <select id="student" resultType="studentDataOverviewDtlVo">
        SELECT
            stu.student_id,
            stu.avatar,
            stu.student_name,
            sub.subject_id,
            sub.subject_name
        FROM driving_student stu
                 LEFT JOIN driving_student_object ss
                           ON ss.student_id = stu.student_id
                 LEFT JOIN driving_subject sub
                           ON sub.subject_id = ss.subject_id
        WHERE stu.user_id = #{userId}
    </select>
</mapper>