<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mashangdriving.mapper.manager.AppointmentMapper">

    <select id="appointmento" resultType="StudentAppointmentVo">

        SELECT
            tor.instructor_name,
            tor.teaching_years,
            tor.photo,
            tor.good_subject,
            tor.score,
            car.car_id,
            car.car_name,
            car.`status`,
            car.plate_number,
            car.car_color
        FROM
            driving_instructor AS tor
                LEFT JOIN driving_car AS car ON tor.instructor_id = car.instructor_id
        WHERE
            tor.`status` = '0'
          AND car.`status` = '0'
            LIMIT 1;
    </select>



</mapper>